.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.UI {
  /* min-width: 100px; */
  flex-shrink: 1;
  padding: 10px;
  border: .05em solid #303030f5;
  border-radius: 5px;
  background-color: #d7ccaaa3;
  text-align: center;
  box-shadow: 2px 2.5px 5px .5px #000000;
}
.PL {
  /* min-width: 100px; */

  column-gap: 1%;
  padding: 10px;
  border: .05em solid #303030f5;
  border-radius: 5px;
  background-color: #9cdad4a3;
  text-align: center;
  box-shadow: 2px 2.5px 5px .5px #000000;
}
.BG {
  /* min-width: 100px; */
  padding: 10px;
  border: .05em solid #303030f5;
  border-radius: 5px;
  background-color: #52535394;
  text-align: center;
  box-shadow: 2px 2.5px 5px .5px #000000;
}
img{
  object-fit: fill;
  /* max-height: 10em;
  max-width: 80%; */
}
.Error {
  /* min-width: 100px; */
  padding: 10px;
  border: .05em solid #d30000d2;
  border-radius: 5px;
  background-color: #db2100;
  text-align: center;
  box-shadow: 1px 2.5px 2.5px .5px #00000085;
}
